.header {
  text-align: center;
  align-items: center;
  margin-top: 3vw;
  height: 10vw;
}

.toggle-row {
  margin-top: 100px;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding-bottom: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#basic-price-annual {
  font-size: 65px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 150px;
  margin-top: 25px;
}

.price-basic,
.price-pro,
.price-master {
  align-items: center;
  position: relative;
  height: 28rem;
  padding-top: 20px;
  width: 23rem;
  text-align: center;
  border-radius: 5px;
  float: left;
}

.price-basic,
.price-master {
  background-color: white;
}

hr {
  border: 4;
  margin: 15px 40px 15px 40px;
  width: 80%;
}

.button-white,
.button-blue {
  padding: 12px 100px;
  border-radius: 5px;
  position: relative;
  top: 3rem;
}

.button-white {
  color: white;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.button-blue {
  background-color: white;
  color: hsl(236, 72%, 79%);
}

#pro-price-annual {
  font-size: 65px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 10px;
}

.price-pro {
  color: white;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

#master-price-annual {
  font-size: 65px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 10px;
}
